<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
		
    </startup>
	<connectionStrings>
		<add name="CINEMAEntities1" connectionString="metadata=res://*/ModelPBL.csdl|res://*/ModelPBL.ssdl|res://*/ModelPBL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-TK7O7TI1;initial catalog=CINEMA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>